<?xml version='1.0' encoding='utf-8'?>
<widget id="org.devgirl.framework7.mediaexplorer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>com.phonegap.framework7.base</name>
    <description>
        A basic Framework7 template for PhoneGap.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
		  <icon src="res/icon/android/ldpi.png" density="ldpi" />
		  <icon src="res/icon/android/mdpi.png" density="mdpi" />
		  <icon src="res/icon/android/hdpi.png" density="hdpi" />
		  <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
		  <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
		  <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
 </platform>
    <platform name="ios">
		  <!-- iOS 8.0+ -->
		  <!-- iPhone 6 Plus  -->
		  <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
		  <!-- iOS 7.0+ -->
		  <!-- iPhone / iPod Touch  -->
		  <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
		  <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
		  <!-- iPad -->
		  <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
		  <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
		  <!-- iOS 6.1 -->
		  <!-- Spotlight Icon -->
		  <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
		  <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
		  <!-- iPhone / iPod Touch -->
		  <icon src="res/icon/ios/icon.png" width="57" height="57" />
		  <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
		  <!-- iPad -->
		  <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
		  <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
		  <!-- iPhone Spotlight and Settings Icon -->
		  <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
		  <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
		  <!-- iPad Spotlight and Settings Icon -->
		  <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
		  <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
</platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="res/icon/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
              <icon src="res/windows/icon-76@2x.png" width="152" height="152" />
              <icon src="res/windows/icon-small.png" width="29" height="29" />
              <icon src="res/windows/icon-50.png" width="50" height="50" />
    </platform>
    <plugin name="com.unarin.cordova.beacon" spec="git+https://github.com/petermetz/cordova-plugin-ibeacon.git" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.2.2" />
</widget>
