<!-- Dynamic navbar for iOS theme -->
{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Über</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{{/if}}

<div class="page" data-page="about">
    <!-- Fixed navbar for Material theme -->
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">Über</div>
        </div>
    </div>
    {{/if}}

    <div class="page-content">
        <div class="content-block">
            <div class="content-block-title">Über BATiming</div>
            <div class="content-block-inner">
                <div class="logo">
                    <img data-src="../res/logo/200_200.png" class="lazy">
                </div>

                <div class="list inset">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Unsere App</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Unsere Mission</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Unser Team</div>
                                    <div class="item-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="list-inset-label">&copy; 2017 WS14-II - Tobias Groß, Sascha Knöchel, Andreas Garben, Atiq Butt</div>
                </div>
            </div>
        </div>
    </div>