<!-- Dynamic navbar for iOS theme -->
{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">About</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{{/if}}

<div class="page" data-page="about">
    <!-- Fixed navbar for Material theme -->
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">About</div>
        </div>
    </div>
    {{/if}}

    <div class="page-content">
        <div class="content-block">
            <div class="content-block-title">BA<sup>Timing</sup></div>
            <div class="content-block-inner">
                <div class="logo">
                    <img src="img/200_200_batiming.png" class="lazy">
                </div>

                <div class="list inset">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Unsere App</div>
                                    <div class="item-text">Diese App ist im Rahmen der Vorlesung Internettechnologien und webbasierte Datenbanken
                                        an der Berufsakademie Rhein-Main entstanden.</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Unsere Aufgabe</div>
                                    <div class="item-text">Aufgabe war es, eine Hybrid-Web-App mit „moderner“ Anbindung an die NoSQL-Cloud-Datenbank
                                        Google-Firebase zu realisieren. Die Autoren haben sich dafür entschieden, eine App
                                        zu entwickeln, welche digitale Anwesenheitslisten von Vorlesungen realisieren soll.
                                        Die Eintragung in eine Vorlesung erfolgt dabei durch eine Verbindung zu einem iBeacon
                                        und wird vom jeweiligen Dozenten geprüft.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="list-inset-label">&copy; 2017 WI-WS-14-II - Atiq, Butt, Andreas Garben, Tobias Groß, Sascha Knöchel</div>
                </div>
            </div>
        </div>
    </div>