<!-- Dynamic navbar for iOS theme -->
{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">An­we­sen­heiten</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{{/if}}

<div class="page" data-page="attendance">
    <!-- Fixed navbar for Material theme -->
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">An­we­sen­heiten</div>
        </div>
    </div>
    {{/if}}


    <form class="searchbar searchbar-init" data-search-list=".list-block-search" data-search-in=".item-title" data-searchbar-found=".searchbar-found"
        data-searchbar-not-found=".searchbar-not-found">
        <div class="searchbar-input">
            <input type="search" placeholder="Search">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    
    <div class="page-content pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>

        <div class="searchbar-overlay"></div>

        <div class="content-block searchbar-not-found">
            Keine Ergebnisse gefunden.
        </div>

        <div class="list-block media-list attendance-list list-block-search searchbar-found"></div>
    </div>
</div>