<head>
	
</head>
<body>
	<div class="pages">
		<div class="page" class="page" data-page="attendance">
			<!-- Search bar -->
			<form class="searchbar searchbar-init" data-search-list=".list-block-search" data-search-in=".item-title" data-searchbar-found=".searchbar-found" data-searchbar-not-found=".searchbar-not-found">
				<div class="searchbar-input">
					<input type="search" placeholder="Search">
					<a href="#" class="searchbar-clear"></a>
				</div>
				<a href="#" class="searchbar-cancel">Cancel</a>
			</form>
			<div class="page-content pull-to-refresh-content">
				<div class="pull-to-refresh-layer">
					<div class="preloader"></div>
					<div class="pull-to-refresh-arrow"></div>
				</div>
				<div class="myPageContentStudentenAttendance"></div>
				<!-- Search bar overlay-->
				<div class="searchbar-overlay"></div>

				<!-- no result -->
				<div class="content-block searchbar-not-found">
					Keine Ergebnisse gefunden.
				</div>

				<div class="list-block media-list stories-list list-block-search searchbar-found"></div>
			</div>
		</div>
	</div>
				
	<script type="text/template7" id="attendanceTemplate">
		<ul>
		{{#each this}}
			<li>
				<a href="item.html?id={{id}}" data-context-name="stories.{{@index}}" class="item-content item-link">
					<div class="item-inner">
						<div class="item-title-row">
							<div class="item-title">{{title}}</div>
						</div>
						<div class="item-subtitle">{{subtitle}}</div>
					</div>
				</a>
			</li>
		{{/each}}
		</ul>
	</script>
</body>