<div class="page" data-page="login">
  <div class="login-screen modal-in">

    <div class="page-content login-screen-content">
      <div class="login-screen-title">Login Here</div>
      <form>
        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title label">E-Mail</div>
                <div class="item-input">
                  <input type="text" name="username" placeholder="Enter the username"></input>
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title label">Password</div>
                <div class="item-input">
                  <input type="password" name="password" placeholder="Enter the password"></input>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="list-block">
          <ul>
            <li><a href="#" class="item-link list-button">Log In</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>