<!-- Dynamic navbar for iOS theme -->
{{#if @global.ios}}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Settings</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{{/if}}

<div class="page" data-page="settings">
    <!-- Fixed navbar for Material theme -->
    {{#if @global.android}}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center">Settings</div>
        </div>
    </div>
    {{/if}}

    <div class="page-content">
        <!-- Page content goes here -->
        <div class="content-block-title">Stammdaten</div>
            <form id="my-form" class="list-block store-data">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">person</i></div>
                        <div class="item-inner">
                        <div class="item-input">
                            <input type="text" name = "vorname" placeholder="Vorname">
                        </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">persons</i></div>
                        <div class="item-inner">
                        <div class="item-input">
                            <input type="text" name = "nachname" placeholder="Nachname">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">email</i></div>
                        <div class="item-inner">
                        <div class="item-input">
                            <input type="email" name = "email" placeholder="E-mail">
                        </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon f7-icons">card</i></div>
                        <div class="item-inner">
                        <div class="item-input">
                            <input type="text" name = "matrikelnummer" placeholder="Matrikelnummer">
                        </div>
                    </div>
                </li>
                <li>
                <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">at</i></div>
                    <div class="item-inner">
                    <div class="item-input">
                        <select name = "fachbereich">
                            <option>Betriebswirtschaftslehre</option>
                            <option>Wirtschaftsinformatik</option>
                        </select>
                    </div>
                    </div>
                </div>
                </li>
            </ul>
        </div> 
    </div>
</div>