<div class="page" data-page="settings">
    <div class="page-content">
    <div class="content-block-title">Icons and inputs</div>
        <div class="list-block">
        <ul>
            <!-- Text inputs -->
            <li>
            <div class="item-content">
                <div class="item-media"><i class="icon f7-icons">person</i></div>
                <div class="item-inner">
                <div class="item-input">
                    <input type="text" placeholder="Your name">
                </div>
                </div>
            </div>
            </li>
            <li>
            <div class="item-content">
                <div class="item-media"><i class="icon f7-icons">email</i></div>
                <div class="item-inner">
                <div class="item-input">
                    <input type="email" placeholder="E-mail">
                </div>
                </div>
            </div>
            </li>
        
            <!-- Select -->
            <li>
            <div class="item-content">
                <div class="item-media"><i class="icon f7-icons">persons</i></div>
                <div class="item-inner">
                <div class="item-input">
                    <select>
                    <option>Male</option>
                    <option>Female</option>
                    </select>
                </div>
                </div>
            </div>
            </li>
        
            <!-- Date -->
            <li>
            <div class="item-content">
                <div class="item-media"><i class="icon f7-icons">calendar</i></div>
                <div class="item-inner">
                <div class="item-input">
                    <input type="date" placeholder="Birth day" value="2014-04-30">
                </div>
                </div>
            </div>
            </li>
        </ul>
        </div> 
    </div>
</div>